.calendar-wrapper {
  font-size: 12px;

  .calendar {
    overflow: visible;
  }

}

.calendar {

  &__completed {
    padding-left: 20px;
    opacity: 0;
    transition: opacity 0.2s;

    &_visible {
      opacity: 1;
    }
  }
}