@import '~semantic-ui-css/semantic.css';

body {
    background: #f0f0f0;
    cursor: default;
}
  
.container {
  margin: auto;
  padding: 20px;
  max-width: $container;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .6;
  background-image: url(../media/sq-gradient.png);
}

.page-header {
    z-index: 999;
    position: relative;
    background: #00324c;

    .ui.inverted.menu {
      background: #00324c;
    }

    &_hidden {
      display: none;
    }

    &__logo {
        font-family: $google-font;
        font-size: 22px;
        font-weight:bold !important;
        color: $prime;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;

        &-img {
            width: 35px !important;
            margin-right: 5px !important;
        }
    }   

    .container {
        padding: 0 20px;
    }


  &__menu-user-info {
    max-width: 125px;
    overflow: hidden;
    white-space: nowrap;
  }
}
  
.text {
  &_red {
    color: #ff3b4f;
  }
}


.b-missing {

  &__text {
    font-size: 16px;

    p {
      display: inline !important;
    }

    input {
      width: auto !important;
      padding: 0 !important;
      background: #ddd !important;
      border: 0 !important;
      border-bottom: 1px solid !important;
      color: blue !important;
      &:focus {
        border-bottom-width: 2px !important;
      }
    }
  }
}

.content_sidebar {
  overflow: hidden;
  position: relative;
  padding: 20px;
  width: 640px;
  min-height: 200px;
  margin-left: 300px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sidebar {
  position: absolute;
  top: 85px;
  width: 265px;

  &__block {
    position: relative;
    margin-bottom: 25px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);

    &-options {
      position: absolute;
      top: 18px;
      right: 15px;
      color: #cccccc;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #484848;
      }
    }
  }

  &__chart {
    height: 175px;
    border: 1px solid;
    background: #ccc;
  }
}
  
.b-bottom {

    &:not(:last-child) {
        margin-bottom: 35px;
    }
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(0, 50, 76, 0.15);
  border-radius: 3px;
}