@font-face {
  font-family: 'Product Sans';
  src: url('fonts/ProductSans-Italic.woff2') format('woff2'),
      url('fonts/ProductSans-Italic.woff') format('woff'),
      url('fonts/ProductSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Product Sans';
  src: url('fonts/ProductSans-BoldItalic.woff2') format('woff2'),
      url('fonts/ProductSans-BoldItalic.woff') format('woff'),
      url('fonts/ProductSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Product Sans';
  src: url('fonts/ProductSans-Regular.woff2') format('woff2'),
      url('fonts/ProductSans-Regular.woff') format('woff'),
      url('fonts/ProductSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('fonts/ProductSans-Bold.woff2') format('woff2'),
      url('fonts/ProductSans-Bold.woff') format('woff'),
      url('fonts/ProductSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
