.login-section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #43cea2 0, #185a9d 100%);
}

.login-page {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    &__b-signup {
      max-width: 400px;
    }

    &__title {
      margin-bottom: 40px;
    }
  
    &__socials-auth {
      display: flex;
      justify-content: space-evenly;
    }
  
    &__form {
  
      &-bottom {
        text-align: center;
      }
  
      &-submit {
        width: 100%;
        margin: 0 0 10px !important;
      }
    }

    &__toggle-form {
      border-bottom: 1px dashed;
      color: #000;
      cursor: pointer;
      
      &:hover {
        color: #000;
      }
    }

  &__error-message {
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    color: #911616;
  }
}
