@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);


.page-404 {

  &__text {
    position: relative;
    margin-top: 60px;
    line-height: 1.4;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    color: blue;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      height: 60px;
      width: 5px;
      top: calc(50% - 30px);
      background: black;
      animation-name: cursor;
      animation-duration: 1.2s;
      animation-iteration-count: infinite;
    }

    &-error {
      position: relative;
      font-family: 'Press Start 2P', cursive;
      font-size: 40px;
      line-height: 1.4;
      color: red;
      text-align: center;

      &::before {
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        background: blue;

      }
    }
  }
}

@keyframes cursor {
  0% {
    background: transparent;
  }

  100% {
    background: black;
  }
}