.result-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 100%;
  }

  &__content {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-size: 30px;
  }

  &__progress {
    width: 50%;
  }

  &__smile {
    font-size: 100px;
  }

  &__sidebar {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-a {
      width: 250px;
      height: 250px;
      background: rgba(0,0,0, 0.1);
    }
  }

  &__view-result {
      text-align: center;

    &-title {
      font-size: 40px;
    }

  }

  &__bottom {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &-container {
      width: 100%;
      max-width: $container;
      margin: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}