
.task-page {

    &__content {
      padding: 80px 40px;
    }
  
    &__nav-bar {
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 40px 20px;
      width: 100%;
      display: flex;
      justify-content: flex-end;

      &-isanswer {
        position: relative;
        padding-left: 90px;
        font-size: 20px;
        font-weight: bold;

        i {
          position: absolute;
          left: 0;
          top: calc(50% - 1em);
          font-size: 2em !important;
        }
      }

      &_wrong {
        background: #ffa1a1;
      }

      &_correct {
        background: #c1e38c;
      }
    }

    &__nav-bar-container {
      width: 100%;
      max-width: $container;
      margin: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &_check-stage {
        justify-content: space-between;
      }
    }

    &__top-bar {
      padding: 20px 0 40px;
      display: flex;
      align-items: center;
  
      .ui.progress {
        flex: 1;
        margin: 0;
      }
  
      &-lives {
        margin-left: 10px;
      }
  
      &-cancel {
        margin-right: 10px;
      }

      &-keyboard {
        position: absolute;
        right: -50px;
      }
    }
  }

.b-code {

  textarea {
    font-size: 18px !important;
  }
}