//@import "../../assets/styles/_guide";

.index-page {

  &__title {
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__section-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.section__card {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  padding: 30px 20px;
  display: block;
  width: 100%;
  border: 4px solid rgba(255,255,255, 0.8);
  border-radius: 10px;
  background: #FF525C;
  background: linear-gradient(90deg,#FF525C,#673BFF);
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  color: #fff;
  transition: .3s;

  &_coming-soon {
    opacity: .7;
    pointer-events: none;

    &::before {
      content: 'coming soon';
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 20px;
      transform: translate(-50%, -50%);
      color: #000;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-content {
    position: relative;
    z-index: 1;
  }

  &-title {
    display: block;
    width: 135px;
    font-family: Product Sans,Arial,Helvetica,sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #1b1c1d;
  }

  &-progress {
    position: absolute;
    top: -5px;
    right: 0;
    display: inline-block;
    color: yellow;
    font-weight: bold;
  }

  &-go {
    position: absolute;
    right: 0;
    bottom: -24px;
    opacity: .7;
    font-size: 20px;
    font-weight: bold;
    color: yellow;
    transition: 0.3s;
  }

  &-media {

  }

  &:hover {
    transform: translateY(-2px);
    color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,0.12);

    .section__card-go {
      opacity: 1;
    }
  }
}